.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
  color: var(--color-text);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

.checkbox {
  width: 1.1rem;
  height: 1.1rem;
}

.text {
  flex: 1 1 0%;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: var(--color-grey);
  border-radius: 100%;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.icon:hover {
  background-color: var(--color-accent);
  transform: rotate(15deg) scale(1.1);
}

.todoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.todoform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.475rem 1.1rem;
  background-color: aqua;
}

.input {
  font-size: 1.1rem;
  width: 80%;
  color: var(--color-text);
  padding: 0.2rem 1rem;
  border: 1px solid var(--color-grey);
  outline: none;
  border-radius: 0.2rem;
  background-color: var(--color-bg-dark);
  transition: border ease-in 180ms;
}

.input:focus {
  box-sizing: border-box;
  border: 1px solid var(--color-accent);
  border-color: var(--color-accent);
}
