.form {
  width: 100%;
  display: flex;
  background-color: var(--color-bg-dark);
  padding: 1.4rem;
  border-radius: 0 0 1rem 1rem;
}

.input {
  flex: 1 0 auto;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.3rem 0 0 0.3rem;
}

.button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: bold;
  padding: 0 2rem;
  border-radius: 0 0.3rem 0.3rem 0;
}
