@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}
* {
  box-sizing: border-box;
}
:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-bg-light: #252b37;
  --color-text: #22243d;
  /* --color-accent: #d18b28; */
  --color-white: #ffffff;
  --color-accent: #448aff;
  --color-scrollbar: #aaa7a7;
  --wrap-height: 65vh;
  --wrap-width: 100vw;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #131a22, #1d2733);
  accent-color: var(--color-accent);
}

/* .wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--wrap-width);
  height: var(--wrap-height);
  max-width: 500px;
  color: #252b37;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--wrap-width);
  height: var(--wrap-height);
  max-width: 500px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* .wrap::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
} */

.wrap::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
}

.wrap::after {
  position: absolute;
  content: '';
  top: calc(var(--wrap-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--wrap-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
